1.Write a Python program to convert kilometers to miles?

In [8]:
km=float(input('enter in km:'))
r=.621371
miles=km*r
print(str(miles)+ ' miles is the equivalent')

enter in km:787
489.018977 miles is the equivalent

2. Write a Python program to convert Celsius to Fahrenheit?

In [6]:
celcius=float(input('enter in celcius:'))
fahrenheit=(celcius*1.8)+32
print(str(fahrenheit) + ' fahrenheit is the equivalent')

enter in celcius:54
129.2 fahrenheit is the equivalent

3. Write a Python program to display calendar?

In [16]:
import calendar 
yyyy=int(input('Enter year in yyyy format:'))
mm=int(input('Enter month in mm format:'))
print(calendar.month(yyyy,mm))
print(calendar.calendar(yyyy))

Enter year in yyyy format:2023
Enter month in mm format:01
    January 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

4. Write a Python program to solve quadratic equation?

In [20]:
import cmath
a=2
b=1
c=1
d=(b**2)-(4*a*c)
ans1=(-b+cmath.sqrt(d))/(2*a)
ans2=(-b-cmath.sqrt(d))/(2*a)
print(str(ans1),str(ans2) + ' are the solutions')

(-0.25+0.6614378277661477j) (-0.25-0.6614378277661477j) are the solutions

5. Write a Python program to swap two variables without temp variable?

In [21]:
a=1
b=2
a,b=b,a
print(a,b)

2 1